<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoExtract</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
<div class="navbar">
    <a href="#" class="logo">CryptoExtract</a>
    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Options</a>
            <ul class="dropdown-content">
                <li><a href="{% url 'load_data' %}">Load Data</a></li>
                <li><a href="{% url 'list_all_data' %}">List all data</a></li>
            </ul>
        </li>

    </ul>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
